<!DOCTYPE html>
<html>
<head>
    <title>條碼掃描器</title>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.min.js"></script>
<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/barcode.css') }}"> -->
<link rel= "stylesheet" type= "text/css" href= "../static/styles/barcode.css">
<body>
    <div id = "box">
        <div class = box_inside>
            內容
            <!-- <p>內容</p> -->
        </div>
    </div>
</body>